.text-decorator-none{
    text-decoration: none;
}
grid.back{
    background-color: #2d51f3 !important;
    color: #ffffff;
}
form{

    color: #ffffff;
}

.font-style{
    color: #ffffff;
    font-weight: bold;
}
button.back{
    
    background-color: #000000 !important;
    color: #ffffff;

}
button.back:hover{
    background-color: #ffffff !important;
    color: #000000;
}