.img-genios{
    background-image: url(../../../assets/sherlock.png);
    background-repeat: no-repeat;
    width: 10vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 200px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}

.back-home{
    background:#04c263!important;

}
.fonte{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #fafafa !important;


}
.title-princial-home{
    font-family: Arial !important;
    font-weight: bold !important;
    color: #041a00 !important;
    font-size: 3rem !important;
}
.text-princpal-home{
    font-family: Arial !important;
    font-weight: bold !important;
    color: #002408 !important;
    
}
.back-postagem{
    background-color: #070606;
}
.back-button-postsee{
    background-color: transparent !important;
    border: 3px solid #000c01 !important;
    color: #010a00 !important;
    font-weight: bolder !important;
    font-size: medium!important;

}
.back-button-postsee:hover{
    background-color: #f7f4f4 !important;
    color: #010a00 !important;
    border:3px solid #f7f4f4 !important;
}
