.img-genios{
    background-image: url(../../../assets/thomas.png);
    background-repeat: no-repeat;
    width: 10vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}

.back-home{
    background:#04c263!important;
}
.fonte{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #fafafa !important;


}
.back-postagem{
    background-color: #fafffc;
}
