.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}

.back{
    background:rgb(17, 16, 16)!important;
}
.fonte{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #fafafa !important;


}

