.font-linkNavbar-footer{
    color: #009e3d!important;
}
.font-linkNavbar-footer:hover{
    color: #ffffff!important;
}

.font-title-footer{
    color: #00993b!important;
    font-weight: bold!important;
    font-size: 1em;
}
.font-title-footer-arthur{
    color: #008332!important;
    font-weight: bold;
    font-size: 1.5em;
}
.font-title-footer-arthur:hover{
    color: #ffffff !important;
}