.card-principal {
    display: flex;
    border-radius: 12px;

    margin-left: 12% !important;
    margin-top: 2% !important;
    background-color: #04c263;
    max-width: 75vw !important;
    min-height: 80vh !important;
}

.card-container-imagem {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-container-info {
    align-items: center;
    text-align: center!important;
    margin-top: 10%!important;
    max-height: 55vh!important;
    background-color: #151d24;
    border-radius: 0px 0px 12px 12px;
}

.card-imagem {
    display: inline-block;
    width: 120px;
    position: absolute;
    margin-top: 135px;
    margin-left: 100px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #151d24;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.boxText-PerFil{
    margin-top: 2%;
    text-align: center;
    margin-left: 20%;
    max-width: 75%!important;
    max-height: 75%!important;
    color: #fff;
    font-size: small;
    text-align: justify;
}
.h1-nome-perfil{
    position: absolute;
    margin-top: 15%;
    margin-left: 16%;
    color: #04c263;
}
