.back-navbar{
    background:#000803!important;
    padding: 10px;
    
}
.icon-nav{
    font-size: 1em!important;

}
.end-navbar{
    display: flex;
    justify-content: flex-end;
}
.button-home-nav{
    margin-right: 65rem !important;
}
.font-menu-navbar{
    justify-content: center;
    font-family: Arial !important;
    font-size: 2px;
    font-weight: bold !important;
    color: #00b45a !important;
    margin-left: 4%!important;
}
.font-menu-navbar:hover{
    color: #d1ffe8 !important;
}

#simple-menu .MuiPaper-root{
    background-color: #060a08;
}
.fonte-title{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #ffffff !important;
    margin-right: 6px!important;

}
.font-linkNavbar{
    justify-content: center;
    font-family: Arial !important;
    font-size: 2px;
    font-weight: bold !important;
    color: #ffffff !important;
}
.font-linkNavbar:hover{
    color: #04c263 !important;
}
.muda{
    justify-content: center;
}
.text-decorator-none{
    text-decoration: none;
}