.back-navbar{
    background:#000803!important;
    padding: 10px;
    
}
.end-navbar{
    display: flex;
    justify-content: flex-end;
}
.fonte-title{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #ffffff !important;
    margin-right: 6px!important;

}
.font-linkNavbar{
    justify-content: center;
    font-family: Arial !important;
    font-size: 2px;
    font-weight: bold !important;
    color: #ffffff !important;
}
.font-linkNavbar:hover{
    color: #04c263 !important;
    border-radius: 8%;
}
.muda{
    justify-content: center;
}
.text-decorator-none{
    text-decoration: none;
}